/* custom font */
@font-face {
    font-family: 'myFont';
    src: url('./NovaOval-Regular.ttf');
}

/* smaller screens should turn aquamarine */
@media all and (max-width: 500px) {
    body {
        background-color: aquamarine;
    }
}

/* span formatting, used for project goals */
span {
    color: red;
}

/* nav formatting */
nav {
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
}

/* format bullet points of nav */
ol li {
    list-style-type: square;
}

/* recolor nav links for contrast readability from background */
a[href^="#"] {
    color: rgb(136, 136, 255);
}

/* general heading format */
h1,h2,h3 {
    border-style: groove;
    border-color: rgba(132, 0, 255, 0.584);
    border-width: 2mm;
    border-radius: 15%;
    text-decoration:underline;
}

/* heading 1 formatting, 8ball theme */
h1 {
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    margin-top: 0px;
    margin-left: 100px;
    margin-bottom: 0px;
    margin-right: 100px;
    text-align: center;
}

/* format sections following header 1 */
h1 ~ section {
    background-color: rgb(50, 5, 44);
    margin: auto;
}

/* heading 2,3 formatting */
h2, h3 {
    color: #FFFFFF;
    background-color: #000;
    margin-top: 0.1ex;
    margin-bottom: 1ex;
    font-size: 1.5vw;
}

/* attendance list formatting */
#Team {
    margin: -8pt;
    padding-top: 1.5em;
    padding-left: 5mm;
    padding-right: 5mm;
    padding-bottom: 1.5em;
}

/* group all agenda sections */
section.agenda {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    column-gap: 20px;
}

/* style agenda text */
section > p {
    border-style: inset;
    border-color: rgba(211, 162, 255, 0.584);
    border-width: 2mm;
}

/* answers to questions are smaller */
.ans {
    font-size: small;
}

/* format questions section */
.question {
    display: inline-grid;
    grid-template-columns: repeat(3, auto [col-start]);
    gap: 10px;
    place-items: center stretch;
}

/* format paragraphs directly following header 3 */
h3 + p {
    color: pink;
    font-family: 'Times New Roman';
    display: inline-block;
}

section ~ details {
    color:rgba(132, 0, 255, 0.584);
}

/* format placeholder text */
:placeholder-shown {
    font-family:Arial, Helvetica, sans-serif;
    color: gray;
}

/* easter egg */
.hidden {
    display: none;
}

/* enlarge button when hover */
button:hover {
    font-size: 2em;
}

/* footer throughout webpage */
footer {
    position: sticky;
    bottom: -150px;
    background-color: hsl(0, 0%, 15%);
}